doctype html
html(lang='en')
    header
      meta(charset="utf-8")
      title Cutting Weigth
      meta(content="width=device-width, initial-scale=1.0", name="viewport")
    body
      h1.text-primary.mb-4 Crear un nuevo Journey:

      form(action='/newjourney', method='POST')
        label Nombre del Journey:
        br
        input(type="text", placeholder="Ingrese el nombre", required=true, name='journeyName', value='')
        br
        label Peso Corporal:
        br
        input(type="text", placeholder="Ingrese su BW", required=true, name='bodyWeight', value='')
        br
        label Porcentaje de grasa corporal:
        br
        input(type="number", placeholder="Ingrese su BF %", required=true, name='bodyFat', value='')
        br
        label Fecha de Inicio:
        br
        input(type="date", placeholder="Ingrese fecha de inicio", required=true, name='startDate', value='')
        input(type="submit", value="Submit")

      h1.text-primary.mb-4 Seleccionar un Journey creado:
      each journey in journeys
        ul
          a(href=`/journeys/${journey.id}`) #{journey.journeyName}

    footer
      script(src="https://code.jquery.com/jquery-3.4.1.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js")     